@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap");
@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}
body {
  background-color: #d8fffa;
}
:root {
  --font-playwrite: "Playwrite AU QLD", serif;
}
